<nav class="breadcrumb-container" aria-label="Breadcrumb">
  <ol class="breadcrumb">
    @for (item of items; track $index) {
      <li
        class="breadcrumb-item"
        [class.breadcrumb-item-active]="$last"
      >
        @if (!$last && item.route) {
          <a
            [routerLink]="item.route"
            class="breadcrumb-link"
          >
            {{ item.label }}
          </a>
        }
        @if (!$last && !item.route) {
          <span class="breadcrumb-text">
            {{ item.label }}
          </span>
        }
        @if ($last) {
          <span class="breadcrumb-current">
            {{ item.label }}
          </span>
        }
        @if (!$last) {
          <span class="breadcrumb-separator" aria-hidden="true">
            {{ separator }}
          </span>
        }
      </li>
    }
  </ol>
</nav>
