<div class="msv-toggle-container">
  @if (label && labelPosition === 'before') {
    <label 
      class="msv-toggle-label msv-toggle-label-before"
      [class.disabled]="disabled"
    >
      {{ label }}
    </label>
  }
  
  <div 
    class="msv-toggle-track" 
    [class.checked]="value"
    [class.disabled]="disabled"
    (click)="toggle()"
    (keydown)="onKeyDown($event)"
    tabindex="0"
    role="switch"
    [attr.aria-checked]="value"
    [attr.aria-disabled]="disabled"
  >
    <div class="msv-toggle-thumb"></div>
  </div>
  
  @if (label && labelPosition === 'after') {
    <label 
      class="msv-toggle-label msv-toggle-label-after"
      [class.disabled]="disabled"
    >
      {{ label }}
    </label>
  }
</div>
