/dist
/tmp
/out-tsc
/node_modules
/.angular/cache
.sass-cache/
/coverage
*.log
.DS_Store
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.swp
*.swo
.env
.env.local
