<div class="msv-select-container">
  @if (label) {
    <label class="msv-select-label">{{ label }}</label>
  }
  <select
    [value]="value"
    [disabled]="disabled"
    (change)="onSelectionChange($event)"
    (blur)="onBlur()"
    class="form-control select-key"
    [class.is-invalid]="showError"
  >
    <option value="" disabled>{{ placeholder }}</option>
    @for (option of options; track option.value) {
      @if (optionTemplate) {
        <option [value]="option.value" [disabled]="option.disabled">
          <ng-container *ngTemplateOutlet="optionTemplate; context: {$implicit: option}"></ng-container>
        </option>
      } @else {
        <option [value]="option.value" [disabled]="option.disabled">{{ option.label }}</option>
      }
    }
  </select>
  @if (showError) {
    @if (errorTemplate) {
      <ng-container *ngTemplateOutlet="errorTemplate; context: {$implicit: errors}"></ng-container>
    } @else {
      <div class="msv-select-error">{{ errors[0] }}</div>
    }
  }
</div>
