<div class="tabs-container">
  <div class="tab-list" role="tablist">
    <button
      *ngFor="let tab of tabs; let i = index"
      [class]="getTabButtonClasses(i).join(' ')"
      [disabled]="tab.disabled"
      [attr.role]="'tab'"
      [attr.aria-selected]="i === selectedIndex"
      [attr.aria-disabled]="tab.disabled"
      [attr.tabindex]="i === selectedIndex ? 0 : -1"
      (click)="selectTab(i)"
      (keydown)="onKeydown($event, i)"
    >
      {{ tab.label }}
    </button>
  </div>
  
  <div class="tab-content" role="tabpanel">
    <ng-container *ngFor="let tab of tabs; let i = index">
      <div *ngIf="i === selectedIndex" class="tab-panel">
        <ng-container *ngTemplateOutlet="tab.content"></ng-container>
      </div>
    </ng-container>
  </div>
</div>
