<div class="tabs-container">
  <div class="tab-list" role="tablist">
    @for (tab of tabs; track $index) {
      <button
        [class]="getTabButtonClasses($index).join(' ')"
        [disabled]="tab.disabled"
        [attr.role]="'tab'"
        [attr.aria-selected]="$index === selectedIndex"
        [attr.aria-disabled]="tab.disabled"
        [attr.tabindex]="$index === selectedIndex ? 0 : -1"
        (click)="selectTab($index)"
        (keydown)="onKeydown($event, $index)"
      >
        {{ tab.label }}
      </button>
    }
  </div>

  <div class="tab-content" role="tabpanel">
    @for (tab of tabs; track $index) {
      @if ($index === selectedIndex) {
        <div class="tab-panel">
          <ng-container *ngTemplateOutlet="tab.content"></ng-container>
        </div>
      }
    }
  </div>
</div>
