<div class="msv-checkbox-group" [class.horizontal]="direction === 'horizontal'" [class.disabled]="disabled">
  @for (option of options; track $index) {
    <label class="msv-checkbox-option" [class.disabled]="option.disabled || disabled">
      <input
        type="checkbox"
        [value]="option.value"
        [checked]="isChecked(option.value)"
        [disabled]="option.disabled || disabled"
        (change)="onCheckboxChange(option.value, $event)"
        (blur)="onBlur()"
      />
      <span class="msv-checkbox-custom"></span>
      <span class="msv-checkbox-label">{{ option.label }}</span>
    </label>
  }
</div>

@if (showError) {
  <div class="msv-checkbox-group-error">
    @if (errorTemplate) {
      <ng-container *ngTemplateOutlet="errorTemplate; context: { $implicit: errors }"></ng-container>
    } @else {
      <span class="error-message">{{ errors[0] }}</span>
    }
  </div>
}
