<div class="msv-datepicker-container">
  @if (label) {
    <label class="msv-datepicker-label">{{ label }}</label>
  }
  <div class="datepicker-wrapper">
    <input
      matInput
      [matDatepicker]="picker"
      [placeholder]="placeholder"
      [value]="value"
      [disabled]="disabled"
      [min]="minDate"
      [max]="maxDate"
      (dateChange)="onDateChange($event)"
      (blur)="onBlur()"
      class="form-control"
      [class.is-invalid]="showError"
    />
    <mat-datepicker-toggle matSuffix [for]="picker" [disabled]="disabled"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </div>
  @if (showError) {
    @if (errorTemplate) {
      <ng-container *ngTemplateOutlet="errorTemplate; context: {$implicit: errors}"></ng-container>
    } @else {
      <div class="msv-datepicker-error">{{ errors[0] }}</div>
    }
  }
</div>
