<div class="container pt-3 pb-3">
    <mat-card class="example-card mb-3 mat-elevation-z5 p-4" style="border-radius: 16px">
        <h2 class="m-0" style="color: #144E83; font-family: 'Open Sans'; font-weight: 700;">
            Fix Data User
        </h2>
        <h4 style="color: #495057; font-family: 'Open Sans'; font-weight: 400;">
            Tools untuk memperbaiki data user pemilik di <b>PROD</b>
        </h4>

        <div style="width: 100%; height: 1px; background-color: #E9ECEF; padding: 0; margin: 0;"></div>

        <div class="batch-list-card">
            <div class="d-flex row">
                <h3 class="col-4 m-0" style="color: #144E83; font-family: 'Open Sans'; font-weight: 700;">
                    Email
                </h3>
            </div>
            <div class="d-flex row  mt-2 mb-4" style="padding-right: 0px;">
                <div class="col-12" style="padding-right: 0px;">
                    <div class="input-group">
                        <input type="text" class="form-control " placeholder="Email" [(ngModel)]="email"
                            [disabled]="response.status === 'ON_PROCESS'" aria-label="Email">
                    </div>
                </div>
            </div>

            <div class="d-flex row">
                <h3 class="col-4 m-0" style="color: #144E83; font-family: 'Open Sans'; font-weight: 700;">
                    MID Yang Dikeluhkan
                </h3>
            </div>
            <div class="d-flex row  mt-2 mb-4" style="padding-right: 0px;">
                <div class="col-12" style="padding-right: 0px;">
                    <div class="input-group">
                        <input type="text" class="form-control " placeholder="MID" [(ngModel)]="mid"
                            [disabled]="response.status === 'ON_PROCESS'" aria-label="MID Yang Dikeluhkan">
                    </div>
                </div>
            </div>

            @if (logs.length != 0) {
                <div class="d-flex row">
                    <h3 class="col-4 m-0" style="color: #144E83; font-family: 'Open Sans'; font-weight: 700;">
                        Logs
                    </h3>
                </div>
                <div class="information" style="max-height: 300px; overflow-y: auto; "  #logContainer>
                    @for (log of logs; track $index) {
                        <div class="d-flex align-items-center">
                            <p style="margin-top: 1px;margin-bottom: 1px;" [ngClass]="'log-' +log.status"> {{log.date |
                                date: 'yyyy-MM-dd HH:mm:ss' }} [{{log.level}}] - {{log.message}}</p>
                        </div>
                    }
                </div>
            }

            @if (result != null) {
                <div class="d-flex row mt-3">
                    <h3 class="col-4 m-0" style="color: #144E83; font-family: 'Open Sans'; font-weight: 700;">
                        Result
                    </h3>
                </div>
                <div class="information">
                    <div class="d-flex align-items-center">
                        <p [ngClass]="'log-' +result.status"> {{result.date | date: 'yyyy-MM-dd HH:mm:ss' }} -
                            {{result.message}}</p>
                    </div>
                </div>
            }


            @if (response.status === 'SUCCESS') {
                <div class="d-flex row mt-3">
                    <h3 class="col-4 m-0" style="color: #144E83; font-family: 'Open Sans'; font-weight: 700;">
                        Informasi User Merchant
                    </h3>
                </div>
                <div class="information">
                    <div class="d-flex align-items-center">
                        <table class="table table-striped" style="border-radius: 10px;">
                            <thead class="text-center">
                                <tr>
                                    <th></th>
                                    <th style="color: #144E83;"><b>Before</b></th>
                                    <th style="color: #144E83;"><b>After</b></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><b>Email</b></td>
                                    <td class="text-center">{{response.data.before.username}}</td>
                                    <td class="text-center">{{response.data.after.username}}</td>
                                </tr>
                                <tr style="vertical-align: middle;">
                                    <td ><b>MID</b></td>
                                    <td>
                                        <div class="td-div-ul-scrollable-data">
                                            <ul class="td-ul-scrollable-data">
                                                @for (data of response.data.before.attributes.mid; track $index) {
                                                    <li>{{data}}
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="td-div-ul-scrollable-data">
                                            <ul class="td-ul-scrollable-data">
                                                @for (data of response.data.after.attributes.mid; track $index) {
                                                    <li>{{data}}
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><b>Total MID</b></td>
                                    <td class="text-center">{{response.data.before.attributes.mid.length}}</td>
                                    <td class="text-center">{{response.data.after.attributes.mid.length}}</td>
                                </tr>
                                <tr>
                                    <td><b>Role MCB</b></td>
                                    <td class="text-center"><span>
                                            @for (data of response.data.before.clientRoles['bca-mcb']; track $index) { {{data}} }
                                        </span>
                                    </td>
                                    <td class="text-center"><span>
                                            @for (data of response.data.after.clientRoles['bca-mcb']; track $index) { {{data}} }
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><b>Role QRMS</b></td>
                                    <td class="text-center"><span>
                                            @for (data of response.data.before.clientRoles['bca-qrms']; track $index) { {{data}} }
                                        </span>
                                    </td>
                                    <td class="text-center"><span>
                                            @for (data of response.data.after.clientRoles['bca-qrms']; track $index) { {{data}} }
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><b>CIN</b></td>
                                    <td class="text-center"><span>
                                            @for (data of response.data.before.attributes.cin; track $index) { {{data}} }
                                        </span>
                                    </td>
                                    <td class="text-center"><span>
                                            @for (data of response.data.after.attributes.cin; track $index) { {{data}} }</span></td>
                                </tr>
                                <tr>
                                    <td><b>Enabled</b></td>
                                    <td class="text-center">{{response.data.before.enabled}}</td>
                                    <td class="text-center">{{response.data.after.enabled}}</td>
                                </tr>
                                <tr>
                                    <td><b>Created Date</b></td>
                                    <td class="text-center">{{response.data.before.createdTimestamp | date:'dd-MMM-YYYY HH:mm:ss'}}</td>
                                    <td class="text-center">{{response.data.after.createdTimestamp | date:'dd-MMM-YYYY HH:mm:ss'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            }

            @if ((response.data?.other | keyvalue)?.length) {
                <div class="d-flex row mt-3" >
                    <h3 class="col-4 m-0" style="color: #144E83; font-family: 'Open Sans'; font-weight: 700;">
                        Informasi Lainnya
                    </h3>
                </div>
                <div class="information">
                    <div class="d-flex align-items-center">
                        <table class="table table-striped" style="border-radius: 10px;">
                            <thead class="text-center">
                                <tr>
                                    <th></th>
                                    <th style="color: #144E83;"><b>Data</b></th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (response.data.other?.listNotRegisteredPTEN) {
                                    <tr style="vertical-align: middle;">
                                        <td style="width: 200px;"><b>QRIS Statis Yang Belum Terdaftar Di PTEN</b></td>
                                        <td>
                                            <div class="td-div-ul-scrollable-data">
                                                <ul class="td-ul-scrollable-data">
                                                    @for (data of response.data.other?.listNotRegisteredPTEN; track $index) {
                                                        <li>{{data}}</li>
                                                    }
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                }
                                @if (response.data.other?.listCicilan0) {
                                    <tr style="vertical-align: middle;">
                                        <td ><b>MID Cicilan 0%</b></td>
                                        <td>
                                            <div class="td-div-ul-scrollable-data">
                                                <ul class="td-ul-scrollable-data">
                                                    @for (data of response.data.other?.listCicilan0; track $index) {
                                                        <li>{{data}}</li>
                                                    }
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            }

            <div class="d-flex row mb-4" style="margin-top: 50px;">
                <div class="col-12">
                    <button style="width: 100%;" class="button-primary"
                        [class.button-primary-disabled]="response.status === 'ON_PROCESS'"
                        [disabled]="response.status === 'ON_PROCESS'" (click)="onClickSubmitButton()">
                        {{response.status !== 'ON_PROCESS' ? "Submit" : "On Process"}}
                    </button>
                </div>
            </div>
        </div>
    </mat-card>
</div>