:host {
  font-family: 'Open Sans', sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content-container {
  overflow: auto;
}

.bg-layout {
  background: #005caa;
  height: 5rem;
}

.icon-overlay {
  position: relative;
  background-color: transparent;
}

.icon-overlay:before {
  content: " ";
  width: calc(100% + 15rem);
  height: 11rem;
  position: absolute;
  left: -15rem;
  /* background-image: url(clove-ornament.139a2d89f497d64c.svg);
  */
  background-position: -10rem -27rem;
}

.on-process-background {
  background-color: beige !important;
}

.success-background {
  background-color: #d4edda !important;
}

.failed-background {
  background-color: #f8d7da !important;
}


.example-card {
  /* max-width: 400px;
  */
  background-color: #fff;
  color: black;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}


::ng-deep .mat-progress-bar-fill::after {
  background-color: #1E457C;
}

::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: #1E457C;
  }

::ng-deep .mat-progress-bar-buffer {
  background: #E4E8EB;
}

::ng-deep .mat-progress-bar {
  border-radius: 2px;
}

.log-box
{
  white-space: pre-wrap;
    background-color: rgb(227 227 227);
    padding: 10px;
    border: 2px solid rgb(184 184 184);
    border-radius: 10px;
    overflow-wrap: break-word;
}

.link-button {
  color: #e6f3ff;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  transition: all 0.3s;
  animation: fadeIn 0.3s;
}

.link-button-disabled {
  color: #868e96;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  cursor: not-allowed;
}

.link-button:hover {
  color: #F4F8FC;
  text-decoration: underline;
  transition: all 0.3s;
  animation: fadeIn 0.3s;
}

.user-chip {
  background-color: #e6f3ff;
  border-radius: 40px;
  width: fit-content;
  padding-left: 1rem;
  padding-right: 1rem;
  transition: all 0.3s;
}

.user-chip:hover {
  background-color: #f1ffff;
  transition: all 0.3s;
  cursor: pointer;
}

.batch-list-card {
  border-bottom: 1px solid #e9ecef;
  padding: 1rem; 
}

.batch-list-card:hover {
  background-color: #f8f9fa;
  transition: all 0.3s;
}

.badge-available {
  width: fit-content;
  background-color: #C2FFC5;
  color: #009649;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  border-radius: 24px;
  padding: 5px 15px;
}

.badge-info {
  width: fit-content;
  background-color: #e6f3ff;
  color: #005caa;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  border-radius: 24px;
  padding: 5px 15px;
}

.badge-unavailable {
  width: fit-content;
  background-color: #FFE592;
  color: #885403;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  border-radius: 24px;
  padding: 5px 15px;
}

.badge-failed {
  width: fit-content;
  background-color: #FFD9D3;
  color: #CD1923;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  border-radius: 24px;
  padding: 5px 15px;
}

.badge-notyet {
  width: fit-content;
  background-color: #CFCFCF;
  color: #495057;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  border-radius: 24px;
  padding: 5px 15px;
}

.batch-information {
  width: 100%;
  background-color: #E6F3FF;
  color: #885403;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  border-radius: 12px;
  padding: 12px;
}

.button-primary {
  display: flex;
  justify-content: center;
  border-radius: 24px;
  background-color: #005CAA;
  color: #FFFFFF;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  transition: all 0.3s;
}

.button-primary-disabled {
  display: flex;
  justify-content: center;
  border-radius: 24px;
  background-color: #CFCFCF;
  color: #FFFFFF;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  transition: all 0.3s;
  cursor: not-allowed;
}


.button-primary:hover {
  background-color: #144e83;
  transition: all 0.3s;
  cursor: pointer;
}

.button-secondary {
  display: flex;
  border: 1px solid #005CAA;
  justify-content: center;
  border-radius: 24px;
  background-color: #FFFFFF;
  color: #005CAA;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  transition: all 0.3s;
}

.button-secondary:hover {
  background-color: #f8f9fa;
  transition: all 0.3s;
  cursor: pointer;
}

.uploader-status ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: #ffffff;
  
}

::ng-deep .custom-modalbox mat-dialog-container {
  /* padding: 40px; */
  background-color: transparent;
  border-radius: 20px;
  box-shadow: none;
}

::ng-deep .custom-modalbox .mat-mdc-dialog-surface {
  box-shadow: none !important;
  background-color: transparent;
}

::ng-deep .custom-modalbox mat-dialog-container .dialog-content {
  box-shadow: none;
}