
.font-general {
    font-family: 'Open Sans', sans-serif !important;
}
  
.input-text-field {
    width: 100%;
    height: 40px;
    border-radius: 0px;
    border: 0;
    border-bottom: 1px solid #ccc;
    padding: 0;
}

.input-text-field:focus {
    border: 0;
    border-bottom: 1px solid #005caa;
    outline: none;
    box-shadow: none !important;
}

.input-text-field::placeholder {
    color: #ccc;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.login-btn {
  background-color: #005caa;
  color: #fff;
  border: none;
  border-radius: 24px;
  padding: 12px 48px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.login-btn:hover { background-color: #144e83; }
