<div class="container pt-3 pb-3" infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="50"
    (scrolled)="onScroll($event)">
    <mat-card class="example-card mb-3 mat-elevation-z5 p-4" style="border-radius: 16px">
        <h2 class="m-0" style="color: #144E83; font-family: 'Open Sans'; font-weight: 600;">
            List Keluhan
        </h2>
        <h4 style="color: #495057; font-family: 'Open Sans'; font-weight: 400;">
            Tools untuk menampilkan list keluhan yang ada di Merchant Hotline environment <b>PROD</b>
        </h4>

        <div class="batch-list-card">
            <div class="d-flex row">
                <h3 class="col-4 m-0" style="color: #144E83; font-family: 'Open Sans'; font-weight: 700;">
                    Status
                </h3>
                <div class="d-flex row  mt-2 mb-2" style="padding-right: 0px;">
                    <div class="col-12" style="padding-right: 0px;">
                        <select [(ngModel)]="filterStatus" class="select" (change)="onChangeSelectFilterStatus()">
                            <option value="ALL">ALL</option>
                            <option value="Assigned">Assigned</option>
                            <option value="Close">Close</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex flex-row justify-content-around text-center">
            <div class="p-2">
                <div class="d-flex flex-column ">
                    <div class="m-0"><h3 class="m-0" style="color: #144E83; font-family: 'Open Sans'; font-weight: 700;">Total Keluhan</h3></div>
                    <div class="m-0"><h4 class="m-0" style="color: #616161; font-family: 'Open Sans'; font-weight: 700;">{{totalRows}}</h4></div>
                </div>
            </div>
            <div class="p-2">
                <div class="d-flex flex-column ">
                    <div class="m-0"><h3 class="m-0" style="color: #144E83; font-family: 'Open Sans'; font-weight: 700;">Tanggal Hit Data</h3></div>
                    <div class="m-0"><h4 class="m-0" style="color: #616161; font-family: 'Open Sans'; font-weight: 700;">{{hitDate | date:'dd MMM yyyy, HH:mm:ss'}}</h4></div>
                </div>
            </div>
        </div>
    </mat-card>

    <ng-container *ngIf="statusMenu == statusAPI.SUCCESS">
        <mat-expansion-panel class="example-card mb-3 mat-elevation-z5 p-4" style="border-radius: 16px;"
            *ngFor="let keluhan of keluhanList; index as i">
            <mat-expansion-panel-header>
                <mat-panel-title style="flex-basis: fit-content;">
                    <div class="d-flex flex-column ">
                        <div class="m-0"><h3 class="m-0" style="color: #144E83; font-family: 'Open Sans'; font-weight: 800;">{{i+1}}. {{keluhan.requestid}} - {{keluhan.summary}}</h3></div>
                        <div class="m-0"><h5 class="m-0" style="color: #616161; font-family: 'Open Sans'; font-weight: 700;">{{keluhan.entrydate | date:'dd MMM yyyy, HH:mm:ss' }}</h5></div>
                    </div>

                    
                </mat-panel-title>
                <mat-panel-description>
                    <div style="margin-left: auto;">
                    </div>
                    <div *ngIf="keluhan.handled" class="badge-info" style="margin-left: auto;">
                        HANDLED
                    </div>
                    <div *ngIf="keluhan.handled && keluhan.handled.isNeedFu" class="badge-info" style="margin-left: 2px;">
                        NEED FU
                    </div>
                    <!-- <div *ngIf="keluhan.replied" class="badge-info" style="margin-left: 2px;">
                        REPLIED
                    </div> -->
                    <div *ngIf="this.showBatchDueDate(keluhan)" class="badge-failed" style="margin-left: 2px;">
                        DUE DATE
                    </div>
                    <div class="badge-{{keluhan.status.toLowerCase()}}" style="margin-left: 2px;">
                        {{keluhan.status.toUpperCase()}}
                    </div>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <hr>
            <h3 class="mt-3" style="color: #144E83; font-family: 'Open Sans'; font-weight: 600;">
                Permasalahan
            </h3>
            <div class="information">
                <pre
                    style="color: #495057; font-family: 'Open Sans'; font-weight: 400; white-space: pre-line ; margin: 0;">
                        {{keluhan.permasalahan}}
                    </pre>
            </div>

            <h3 class="mt-3" style="color: #144E83; font-family: 'Open Sans'; font-weight: 600;">
                Notes
            </h3>
            <div class="information">
                <pre
                    style="color: #495057; font-family: 'Open Sans'; font-weight: 400; white-space: pre-line ; margin: 0;">
                        {{keluhan.notes}}
                      </pre>
            </div>

            <h3 class="mt-3" style="color: #144E83; font-family: 'Open Sans'; font-weight: 600;">
                Informasi Merchant
            </h3>
            <div class="information">
                <div class="d-flex align-items-center">
                    <mat-icon style="color: #005CAA">
                        person
                    </mat-icon>
                    <h4
                        style="color: #005CAA; font-family: 'Open Sans'; font-weight: 500; margin: 0; margin-left: 10px;">
                        Nama Pemilik : {{keluhan.namaPemilik}}
                    </h4>
                </div>

                <div class="d-flex align-items-center">
                    <mat-icon style="color: #005CAA">
                        phone
                    </mat-icon>
                    <h4
                        style="color: #005CAA; font-family: 'Open Sans'; font-weight: 500; margin: 0; margin-left: 10px;">
                        No Telp Pemilik : {{keluhan.telpPemilik}}
                    </h4>
                </div>

                <div class="d-flex align-items-center">
                    <mat-icon style="color: #005CAA">
                        email
                    </mat-icon>
                    <h4
                        style="color: #005CAA; font-family: 'Open Sans'; font-weight: 500; margin: 0; margin-left: 10px;">
                        Email Pemilik : {{keluhan.email}}
                    </h4>
                </div>

                <div class="d-flex align-items-center">
                    <mat-icon style="color: #005CAA">
                        store
                    </mat-icon>
                    <h4
                        style="color: #005CAA; font-family: 'Open Sans'; font-weight: 600; margin: 0; margin-left: 10px;">
                        Toko : {{keluhan.merchantname}}
                    </h4>
                </div>

                <div class="d-flex align-items-center">
                    <mat-icon style="color: #005CAA">
                        store
                    </mat-icon>
                    <h4
                        style="color: #005CAA; font-family: 'Open Sans'; font-weight: 600; margin: 0; margin-left: 10px;">
                        MID : {{keluhan.mid}}
                    </h4>
                </div>

                <div class="d-flex align-items-center">
                    <mat-icon style="color: #005CAA">
                        calendar_today
                    </mat-icon>
                    <h4
                        style="color: #005CAA; font-family: 'Open Sans'; font-weight: 600; margin: 0; margin-left: 10px;">
                        Entry Date : {{keluhan.entrydate}}
                    </h4>
                </div>

                <div class="d-flex align-items-center">
                    <mat-icon style="color: #aa0039">
                        calendar_today
                    </mat-icon>
                    <h4
                        style="color: #aa0039; font-family: 'Open Sans'; font-weight: 600; margin: 0; margin-left: 10px;">
                        Due Date : {{keluhan.duedate}}
                    </h4>
                </div>
            </div>


            <h3 class="mt-3" style="color: #144E83; font-family: 'Open Sans'; font-weight: 600;">
                Informasi Penanganan
            </h3>
            <div class="information">
                <div class="d-flex align-items-center">
                    <mat-icon style="color: #005CAA">
                        person
                    </mat-icon>
                    <h4
                        style="color: #005CAA; font-family: 'Open Sans'; font-weight: 500; margin: 0; margin-left: 10px;">
                        Handled By : {{keluhan.handled && keluhan.handled.name ? keluhan.handled.name : '-' }}
                    </h4>
                </div>

                <div class="d-flex align-items-center">
                    <mat-icon style="color: #005CAA">
                        calendar_today
                    </mat-icon>
                    <h4
                        style="color: #005CAA; font-family: 'Open Sans'; font-weight: 500; margin: 0; margin-left: 10px;">
                        <span *ngIf="keluhan.handled && keluhan.handled.date"> Handled Date : {{keluhan.handled.date | date:'dd MMM yyyy, HH:mm:ss'}}</span>
                        <span *ngIf="!(keluhan.handled && keluhan.handled.date)"> Handled Date : -</span>
                    </h4>
                </div>
                <div class="d-flex align-items-center">
                    <mat-icon style="color: #005CAA">
                        build
                    </mat-icon>
                    <h4
                        style="color: #005CAA; font-family: 'Open Sans'; font-weight: 500; margin: 0; margin-left: 10px;">
                        Handled Method : {{keluhan.handled && keluhan.handled.method ? keluhan.handled.method : '-' }}
                    </h4>
                </div>
                <div class="d-flex align-items-center">
                    <mat-icon style="color: #005CAA">
                        notes
                    </mat-icon>
                    <h4
                        style="color: #005CAA; font-family: 'Open Sans'; font-weight: 500; margin: 0; margin-left: 10px;">
                        Handled Notes : {{keluhan.handled && keluhan.handled.notes ? keluhan.handled.notes : '-' }}
                    </h4>
                </div>

                <!-- <br>

                <div class="d-flex align-items-center">
                    <mat-icon style="color: #005CAA">
                        insert_drive_file
                    </mat-icon>
                    <h4
                        style="color: #005CAA; font-family: 'Open Sans'; font-weight: 500; margin: 0; margin-left: 10px;">
                        Replied Template : {{keluhan.replied && keluhan.replied.template ? keluhan.replied.template :
                        '-' }}
                    </h4>
                </div>

                <div class="d-flex align-items-center">
                    <mat-icon style="color: #005CAA">
                        person
                    </mat-icon>
                    <h4
                        style="color: #005CAA; font-family: 'Open Sans'; font-weight: 500; margin: 0; margin-left: 10px;">
                        Replied By : {{keluhan.replied && keluhan.replied.name ? keluhan.replied.name : '-' }}
                    </h4>
                </div>

                <div class="d-flex align-items-center">
                    <mat-icon style="color: #005CAA">
                        calendar_today
                    </mat-icon>
                    <h4
                        style="color: #005CAA; font-family: 'Open Sans'; font-weight: 500; margin: 0; margin-left: 10px;">
                        Replied Date : {{keluhan.replied && keluhan.replied.date ? keluhan.replied.date : '-' }}
                    </h4>
                </div> -->
            </div>

           <quick-handle [keluhan]="keluhan"></quick-handle>
            

            <!-- <h3 class="mt-3" style="color: #144E83; font-family: 'Open Sans'; font-weight: 600;">
                Quick Reply
            </h3>
            <div class="information">
                <h3 class="col-4 m-0" style="color: #144E83; font-family: 'Open Sans'; font-weight: 700;">
                    Template
                </h3>
                <div class="d-flex row  mt-2 mb-2" style="padding-right: 0px;">
                    <div style="padding-right: 0px;">
                        <select [(ngModel)]="quickReplyTemplate" class="select" style="width: 98%;" (change)="onChangeSelectQuickReplyTemplate()">
                            <option value="PERBAIKAN_DATA_USER">Perbaikan Data User</option>
                            <option value="CUSTOM">Custom</option>
                        </select>
                    </div>
                </div>

                <h3 class="col-4 m-0" style="color: #144E83; font-family: 'Open Sans'; font-weight: 700;">
                    Content
                </h3>
                <textarea style="width: 99%;" class="form-control" rows="4" [(ngModel)]="quickReplyContent" [disabled]="quickReplyTemplate != 'CUSTOM'">
                </textarea>

                <button style="width: 100%;" class="button-primary mt-3">Send</button>
            </div> -->
        </mat-expansion-panel>
    </ng-container>

    <mat-card class="example-card mb-3 mat-elevation-z5 p-4" style="border-radius: 16px"
        *ngIf="statusMenu == statusAPI.LOADING || keluhanList.length < totalRows">
        <ng-container>
            <div class="d-flex align-items-center flex-column"
                style="width: fit-content; margin-left: auto; margin-right: auto;">
                <img src="../assets/loading4.gif" alt="logo"
                    style="width: 75px; margin-left: auto; margin-right: auto;">
                <h4 style="color: #495057;font-weight: 400;">
                    Memuat List Keluhan
                </h4>
            </div>
        </ng-container>
    </mat-card>
</div>