<div class="msv-checkbox-container">
  <label class="checkbox-wrapper">
    <input
      type="checkbox"
      class="checkbox-input"
      [checked]="value"
      [disabled]="disabled"
      (change)="onCheckboxChange($event)"
      (blur)="onBlur()"
    />
    <span class="checkbox-custom" [class.is-invalid]="showError"></span>
    <span *ngIf="label" class="checkbox-label">{{ label }}</span>
  </label>
  <ng-container *ngIf="showError">
    <ng-container *ngIf="errorTemplate; else defaultError">
      <ng-container *ngTemplateOutlet="errorTemplate; context: {$implicit: errors}"></ng-container>
    </ng-container>
    <ng-template #defaultError>
      <div class="msv-checkbox-error">{{ errors[0] }}</div>
    </ng-template>
  </ng-container>
</div>
