<div class="msv-checkbox-container">
  <label class="checkbox-wrapper">
    <input
      type="checkbox"
      class="checkbox-input"
      [checked]="value"
      [disabled]="disabled"
      (change)="onCheckboxChange($event)"
      (blur)="onBlur()"
    />
    <span class="checkbox-custom" [class.is-invalid]="showError"></span>
    @if (label) {
      <span class="checkbox-label">{{ label }}</span>
    }
  </label>
  @if (showError) {
    @if (errorTemplate) {
      <ng-container *ngTemplateOutlet="errorTemplate; context: {$implicit: errors}"></ng-container>
    } @else {
      <div class="msv-checkbox-error">{{ errors[0] }}</div>
    }
  }
</div>
