<div class="msv-input-container">
  <label *ngIf="label" class="msv-input-label">{{ label }}</label>
  <div class="input-wrapper">
    <ng-content select="[msvPrefix]"></ng-content>
    <input
      [type]="type"
      [placeholder]="placeholder"
      [value]="value"
      [disabled]="disabled"
      (input)="onInput($event)"
      (blur)="onBlur()"
      class="form-control"
      [class.is-invalid]="showError"
    />
    <ng-content select="[msvSuffix]"></ng-content>
  </div>
  <ng-container *ngIf="showError">
    <ng-container *ngIf="errorTemplate; else defaultError">
      <ng-container *ngTemplateOutlet="errorTemplate; context: {$implicit: errors}"></ng-container>
    </ng-container>
    <ng-template #defaultError>
      <div class="msv-input-error">{{ errors[0] }}</div>
    </ng-template>
  </ng-container>
</div>
