<div class="container toolbox-wrap">
  <aside class="toolbox-tabs">
    <button *ngFor="let t of tools" class="toolbox-tab" [class.active]="active === t.slug" (click)="select(t.slug)">
      <mat-icon aria-hidden="true">{{ t.icon }}</mat-icon>
      <span>{{ t.label }}</span>
    </button>
  </aside>
  <section class="toolbox-content">
    <ng-container [ngSwitch]="active">
      <app-json-formatter *ngSwitchCase="'json-formatter'"></app-json-formatter>
      <app-decoder *ngSwitchCase="'decoder'"></app-decoder>
      <app-regex-tester *ngSwitchCase="'regex-tester'"></app-regex-tester>
      <app-id-generator *ngSwitchCase="'id-generator'"></app-id-generator>
      <app-hash-generator *ngSwitchCase="'hash-generator'"></app-hash-generator>
      <app-password-generator *ngSwitchCase="'password-generator'"></app-password-generator>
      <app-text-diff *ngSwitchCase="'text-diff'"></app-text-diff>
      <app-color-converter *ngSwitchCase="'color-converter'"></app-color-converter>
      <app-text-transforms *ngSwitchCase="'text-transforms'"></app-text-transforms>
      <app-base-converter *ngSwitchCase="'base-converter'"></app-base-converter>
      <app-http-status *ngSwitchCase="'http-status'"></app-http-status>
      <app-unicode-escape *ngSwitchCase="'unicode-escape'"></app-unicode-escape>
      <app-markdown *ngSwitchCase="'markdown'"></app-markdown>
      <app-cron-explainer *ngSwitchCase="'cron-explainer'"></app-cron-explainer>
      <app-image-base64 *ngSwitchCase="'image-base64'"></app-image-base64>
      <app-lorem-ipsum *ngSwitchCase="'lorem-ipsum'"></app-lorem-ipsum>
      <app-timestamp-converter *ngSwitchCase="'timestamp-converter'"></app-timestamp-converter>
      <app-csv-json *ngSwitchCase="'csv-json'"></app-csv-json>
      <app-sql-formatter *ngSwitchCase="'sql-formatter'"></app-sql-formatter>
      <app-text-sort *ngSwitchCase="'text-sort'"></app-text-sort>
      <app-char-counter *ngSwitchCase="'char-counter'"></app-char-counter>
      <app-slug-generator *ngSwitchCase="'slug-generator'"></app-slug-generator>
      <app-url-parser *ngSwitchCase="'url-parser'"></app-url-parser>
      <app-chmod-calc *ngSwitchCase="'chmod-calc'"></app-chmod-calc>
      <app-line-tools *ngSwitchCase="'line-tools'"></app-line-tools>
      <app-random-picker *ngSwitchCase="'random-picker'"></app-random-picker>
      <app-word-frequency *ngSwitchCase="'word-frequency'"></app-word-frequency>
    </ng-container>
  </section>
</div>
