<button
  [type]="type"
  [disabled]="isDisabled"
  [class]="buttonClasses.join(' ')">
  [class.full-width]="fullWidth"
  (click)="onClick()"
>
  @if (loading) {
    @if (loadingTemplate) {
      <ng-container *ngTemplateOutlet="loadingTemplate"></ng-container>
    } @else {
      <span class="spinner"></span>
      <span>{{ config.loadingText }}</span>
    }
  } @else {
    <ng-content select="[msvPrefix]"></ng-content>
    <ng-content></ng-content>
    <ng-content select="[msvSuffix]"></ng-content>
  }
</button>
